.hero {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-evenly;
  align-items: center;
  padding: 24px;
  height: auto;
  border-top: $img_border solid $text-color;
  border-bottom: $img_border solid $text-color;

  p {
    font-size: 24px;
  }
}

.text_wrapper {
  width: 100%;
  margin: $mar-24;
}

.more_projects {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;

  h2 {
    text-align: center;
  }
}

.hero img {
  width: 100%;
  height: none;
}

// About
.hero_about {
  @extend .hero;
  height: auto;
  align-items: flex-start;
}

.hero_about .text_wrapper {
  padding: 0;
  margin: 0;

  p {
    font-size: 16px;
  }
}

.image_wrapper {
  display: flex;
  flex-flow: column nowrap;
}
.image_wrapper img {
  width: 100%;
  margin-bottom: $spa-24;
}

@media screen and (min-width: 600px) {
  .hero {
    flex-direction: row;
    padding: 0;
    height: 90vh;
  }

  .hero img {
    width: 40%;
    height: 100%;
    border: none;
    border-left: $img_border solid $text-color;
  }

  // About
  .hero_about {
    height: auto;
    padding: $mar-40;

    p {
      font-size: 1rem;
    }
  }

  .hero_about .text_wrapper {
    margin-right: $mar-32;
  }

  .image_wrapper {
    width: 50%;
  }

  .image_wrapper img {
    margin-bottom: $mar-24;
    width: 100%;
    border: $img_border solid $text-color;
  }
}
