header {
  position: sticky;
  top: 0;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav button {
  display: none;
}

/* .menu_wrapper {

} */

nav ul {
  display: flex;
  flex-flow: row nowrap;
}
