.thumb {
  height: none;
}

.post_description {
  height: auto;

  h2 {
    font-size: $spa-32;
    margin-top: $spa-16;
    margin-bottom: $spa-24;
  }
}

.page_post {
  max-width: 1114px;
  margin: $spa-16;
}

.page_post img {
  margin-bottom: $spa-24;
}

@media screen and (min-width: 600px) {
  .thumb {
    height: 70%;
  }

  .post_description {
    height: 30%;

    h2 {
      font-size: $spa-32;
      margin-top: $spa-16;
      margin-bottom: $spa-24;
    }
  }

  .page_post {
    width: 80%;
    margin: auto;
  }

  .page_post img {
    margin-bottom: $spa-24;
  }
}
