.portfolio {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(auto, 1fr);
  gap: $spa-40;
  margin: $spa-24;
}

.portfolio_heading {
  margin: $spa-24;
}

.article_post {
  width: 100%;
  height: 100%;
}

.thumb {
  height: none;
}

.post_description {
  height: auto;

  h2 {
    font-size: $spa-32;
    margin-top: $spa-16;
    margin-bottom: $spa-24;
  }
}

.page_post {
  max-width: 1114px;
  margin: $spa-16;

  img {
    margin-bottom: $spa-24;
  }
}

@media screen and (min-width: 600px) {
  .portfolio {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: $mar-40;
    margin: $mar-40;
  }

  .portfolio_heading {
    margin: $mar-24;
  }

  .thumb {
    height: 70%;
  }

  .post_description {
    height: 30%;

    h2 {
      font-size: $spa-32;
      margin-top: $spa-16;
      margin-bottom: $spa-24;
    }
  }

  .page_post {
    width: 80%;
    margin: auto;
  }

  .page_post img {
    margin-bottom: $spa-24;
  }
}
