<header>
  <nav>
    <a href="{{ site.baseurl }}/">
      {% if site.data.settings.logo %}
      <img
        class="logo"
        src="{{ site.data.settings.logo | absolute_url }}"
        alt="{{ site.data.settings.title }}"
      />
      {% else if %}
      <h3>{{site.data.settings.title}}</h3>
      {% endif %}
    </a>
    <!-- Menu Button -->
    <i class="hamburguer"></i>

    <ul class="closed menu_wrapper">
      <li>
        <a class="nav_link" href="{{ site.baseurl }}/">Home</a>
      </li>
      {% for link in site.data.settings.menu %}
      <li>
        <a class="nav_link" href="{{ link.link }}">{{ link.name }}</a>
      </li>
      {% endfor %}
    </ul>
  </nav>
</header>
