<article class="article_post">
  <img
    class="thumb"
    src="{{ post.image | relative_url }}"
    alt="{{ post.title }}"
  />
  <div class="post_description">
    <h4>
      <a href="{{ post.url | relative_url }}">{{ post.title }}</a>
    </h4>
    <p>
      {% assign curlyend = '}' %}{{ post.excerpt | markdownify | strip_html |
      replace: "{% include JB/setup %", "" | replace: curlyend, "" |
      truncatewords: 15 }}
    </p>
    <a href="{{ post.url | relative_url }}" class="post_link"> Read More </a>
  </div>
</article>
