.post_link {
  border: none;
  padding: $spa-8 $spa-16;
  background-color: $text-color;
  font-family: $primary-font;
  color: $bg-color;
}

@media screen and (min-width: 600px) {
  .post_link {
    padding: $mar-8 $mar-16;
  }
  .post_link:hover {
    background-color: $bg-color;
    color: $text-color;
    box-shadow: 4px 4px 0 $text-color;
  }
}
