* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: $bg-color;
  overflow-x: hidden;
}

ul,
ol {
  list-style: none;
}

blockquote {
  @extend p;
  font-style: italic;
  margin-left: $spa-16;
}

img {
  object-fit: cover;
  width: 100%;
  border: $border;
}

.svg {
  border: none;
  width: $spa-24;
  height: $spa-24;
}

.logo {
  width: $spa-40;
  height: $spa-40;
  border: none;

  &_footer {
    @extend .logo;
    width: $spa-40;
    height: $spa-40;
  }
}

.portfolio {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(auto, 1fr);
  gap: $spa-40;
  margin: $spa-24;
}

.article_post {
  width: 100%;
  height: 100%;
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-flow: column nowrap;
  padding: $spa-24;
  height: 20vh;
}

@media screen and (min-width: 600px) {
  blockquote {
    margin-left: $mar-16;
  }

  .portfolio {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: $mar-40;
    margin: $mar-40;
  }

  .logo {
    &_footer {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      width: $mar-24;
      height: $mar-24;
    }
  }

  .svg {
    border: none;
  }

  footer {
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    padding: $mar-24;
  }
}
