* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: $bg-color;
  overflow-x: hidden;
}

ul,
ol {
  list-style: none;
}

img {
  object-fit: cover;
  width: 100%;
  border: $img_border solid $text-color;
}

.portfolio {
  display: grid;
  grid-template-columns: 1fr;
  gap: 24px;
  margin: 24px;
}

@media screen and (min-width: 600px) {
  .portfolio {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: $mar-40;
    margin: $mar-40;
  }
}
