/*  typography */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");

body {
  line-height: 1.2;
  font-family: $primary-font;
  -webkit-font-smoothing: antialiased;
  font-size: 16px;
  color: $text-color;
}

p {
  line-height: 1.8;
  margin-bottom: 16px;
}

a {
  color: $text-color;
  text-decoration: none;
}
:visited {
  text-decoration: dashed;
}

h1 {
  font-size: 48px;
  margin-bottom: $spa-24;
}

h2 {
  font-size: $spa-40;
  margin-bottom: $spa-24;
}

h3 {
  font-size: $spa-32;
  margin-bottom: $spa-16;
}

h4 {
  font-size: $spa-24;
  margin-bottom: $spa-16;
}

@media screen and (min-width: 600px) {
  h1 {
    font-size: $mar-40;
    margin-bottom: $mar-24;
  }

  h2 {
    font-size: $mar-32;
    margin-bottom: $mar-24;
  }

  h3 {
    font-size: $mar-24;
    margin-bottom: $mar-16;
  }

  h4 {
    font-size: $mar-16;
    margin-bottom: $mar-16;
  }
}
