/*  typography */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");

body {
  line-height: 1.2;
  font-family: $primary-font;
  -webkit-font-smoothing: antialiased;
  font-size: 16px;
  color: $text-color;
}

p {
  line-height: 1.8;
  margin-bottom: 16px;
}

a {
  color: $text-color;
  text-decoration: none;
}
:visited {
  text-decoration: dashed;
}

h1 {
  font-size: 48px;
  margin-bottom: 24px;
}

h2 {
  font-size: 40px;
  margin-bottom: 24px;
}

h3 {
  font-size: 32px;
}

h4 {
  font-size: 24px;
}

h5 {
  font-size: 20px;
}

h6 {
  font-size: 16px;
}
