// Color Variables
$bg-color: rgb(255, 250, 240);
$text-color: rgb(19, 19, 19);
$shade: rgba(19, 19, 19, 0.25);

//Spacings and Margins
$spa-8: 8px;
$spa-16: 16px;
$spa-24: 24px;
$spa-32: 32px;

$mar-16: 1rem;
$mar-24: 2rem;
$mar-32: 3rem;
$mar-40: 4rem;

// Font Variables
$primary-font: "Poppins", sans-serif;
